$lightOrange: #ffca93;
$lightPeach: #fff4e9;
$brown: #7f4b13;
$darkPeach: #ffdfbe;
$peach: #ffecd8;
$lightBrown: rgba(127, 75, 19, 0.42);
$brownBorder: #c9955d;
$orange: #fc8f1a;

* {
    margin: 0 auto;
    box-sizing: border-box;
}